img {
  height: 7rem;
  margin-right: 1%;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: lightgrey;
  padding: 1%;
  width: 50%;
  color: navy;
  border-radius: 20px;
  border: 5px solid navy;
}

.App {
  margin: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.teams-box {
  width: 100%;
}

.teams {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.conf-box-east {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: #0069B5;
  padding: 3%;
  width: 90%;
  height: 65rem;
}

.conf-box-west {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: #D71F55;
  padding: 3%;
  width: 90%;
  height: 65rem;
}

.team-card {
  width: 26%;
  border: 5px solid black;
  border-radius: 20px;
  background: lightgrey;
  padding: 1%;
  margin-top: 2%;
}





